src/tcpclient/__debug_bin
src/tcpserver/server.log
src/tcpclient/client.log

src/tcpclient/tcpclient.exe
src/tcpserver2/__debug_bin
src/tcpserver2/server2.log
pkg/windows_amd64/github.com/julienschmidt/httprouter.a
pkg/windows_amd64/github.com/sirupsen/logrus.a
pkg/windows_amd64/github.com/konsorten/go-windows-terminal-sequences.a
pkg/windows_amd64/github.com/jinzhu/gorm.a
pkg/windows_amd64/github.com/lib/pq.a
pkg/windows_amd64/github.com/lib/pq/oid.a
pkg/windows_amd64/github.com/lib/pq/scram.a
src/anWebServer1/__debug_bin
pkg/mod
pkg/mod/cache/vcs/41b8ed857e0827aa6b1c8c20a7b27865537e7c60a4fd42e9263f533c2aa002cc/FETCH_HEAD
pkg/mod/cache/vcs/41b8ed857e0827aa6b1c8c20a7b27865537e7c60a4fd42e9263f533c2aa002cc/objects/pack/tmp_pack_hiFItx
